---
---

$primary: #5CB85C;

@import "main";

.is-help {
  cursor: help;
  border-bottom: 1px dotted grey;
}

ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  white-space: nowrap;
}

figure.image .modal-button img {
  max-width: 200px;
  max-height: 95px;
}

.aj-badges {
  margin-left: 0;
  margin-top: 5px;
  min-height: 40px;
}

.aj-badges .control {
  margin-right: 10px;
}

.img-done {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEX///+AgIAisUyFI7vgAAAAI0lEQVQY02MIhQNkZgADFLAONmbUKihYSlXmoPAbVib2GAIA5ghJDdxGeyAAAAAASUVORK5CYII=");
}

.img-partial {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEX///8AouiAgIBQcwyXAAAAHklEQVQY02NYBQfIzAUMDAyhoQ4MDFyjzAFmYo8hAP3NU2Hlo8BdAAAAAElFTkSuQmCC");
}

.img-planed {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEX/////8gCAgICfbwFHAAAAc0lEQVQY023RIRKEMAAEwSDOnOc/aBSCGF4HAsMr2alMEQSrWozbcj1786yl7R9OnUvn2llfnORREzfuNbEcE8tfYjkkloVYEktiSSyJJbE0hsbQGBpDY2gMjaExNIbG0BgaQ+M5NN5kaTSWiTsHycLPh255mVDxDw2KDwAAAABJRU5ErkJggg==");
}

textarea {
  white-space: pre-wrap;
}

dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
}

dl.inline-flex dt {
  flex: 0 0 25%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

dl.inline-flex dd {
  flex: 0 0 75%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

#wizard input, #wizard select {
  width: 220px !important;
}

#wizard dt {
  flex: 0 0 40%;
}

#wizard dd {
  flex: 0 0 60%;
}

#wizard dt, #wizard dd {
  padding: 5px;
}
